.area-instagram-all h2{
    font-size: 54px;
    color: white;
}

.area-instagram-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    background-image: url('../../../public/background-commu.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(50%); /* Utilisez backdrop-filter pour appliquer l'effet de flou */
    filter: brightness(20px);
}


.area-instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    /* background-color: rgba(0, 0, 0, .5); */
    width: 80%;
    border-radius: 1rem;
}

.icon-instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-instagram img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-instagram h4 {
    text-align: center;
    color: white;
}

.area-instagram p{
    font-size: 44px;
    width: 50%;
    padding: 0rem 0rem 3rem 3rem;
    color: white;
    font-weight: bolder;
    color: rgb(69, 38, 13);
}

.photo-instagram{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}


@media (max-width: 540px) {
    .area-instagram-all h2{
        font-size: 44px;
        width: 80%;
        padding: 0rem;
        margin-left: 0rem;
    }


    .area-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
    }

    .photo-instagram{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .area-instagram p{
        font-size: 34px;
        width: 80%;
        padding: 0rem;
        margin-left: 0rem;
    }

    .icon-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
  
    
}


@media (max-width: 768px) {
    .area-instagram-all h2{
        font-size: 44px;
        width: 80%;
        padding: 0rem;
        margin-left: 0rem;
    }


    .area-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .photo-instagram{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .area-instagram p{
        font-size: 34px;
        width: 80%;
        padding-left: 2rem;
        margin-left: 0rem;
    }

    .icon-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .area-instagram a button{
        margin-left: 2rem;
    }

    
}