.area-instagram-all h2{
    font-size: 54px;
    color: white;
}

.area-instagram-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1488197047962-b48492212cda?q=80&w=1767&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(50%); /* Utilisez backdrop-filter pour appliquer l'effet de flou */
}


.area-instagram{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.icon-instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-instagram img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-instagram h4 {
    text-align: center;
    color: white;
}

.area-instagram p{
    font-size: 44px;
    width: 25%;
    padding: 0rem 0rem 3rem 3rem;
    color: white;
    font-weight: bolder;
}

.photo-instagram{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}


@media (max-width: 540px) {
    .area-instagram-all h2{
        font-size: 44px;
        width: 80%;
        padding: 0rem;
        margin-left: 2rem;
    }


    .area-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
    }

    .photo-instagram{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .area-instagram p{
        font-size: 34px;
        width: 80%;
        padding: 0rem;
        margin-left: 2rem;
    }

    .icon-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
  
    
}


@media (max-width: 768px) {
    .area-instagram-all h2{
        font-size: 44px;
        width: 80%;
        padding: 0rem;
        margin-left: 2rem;
    }


    .area-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
    }

    .photo-instagram{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .area-instagram p{
        font-size: 34px;
        width: 80%;
        padding: 0rem;
        margin-left: 2rem;
    }

    .icon-instagram{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    
}