.resume-checkout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 4rem ;
}

.form-checkout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0rem;
}

.input-bank-card {
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 300px !important;
    min-width: 200px !important;
    overflow: hidden !important;
    display: block !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    transform: translate(0px) !important;
    color-scheme: light only !important;
    height: 20.8px;
}

.recap-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    background-color: blanchedalmond;
    padding: 5%;
    border-radius: 1rem;
}

.recap-product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}

.recap-product-card p , .recap-product-card .icon  {
    width: 50px;
}

.recap-product-card .name{
    width: 150px;
}

.total-price {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
