.buttonNice button {
  padding: 0px 20px;
  border: none;
  background: #EACD9A;
  font-size: 20px;
  color: rgb(69, 38, 13);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  height: 5rem;
  font-weight: bold;
}

.buttonNice p {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

.buttonNice button:hover {
  background: #EACD9A;
  color: #895832;

}

.buttonNice button::before, .buttonNice button::after {
  content: "";
  background: inherit;
  height: 0px;
  width: 2px !important;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.buttonNice button::before {
  top: -10px;
  left: -10px;
}
.buttonNice button::after {
  bottom: -10px;
  right: -10px;
}
.buttonNice button:hover::before,
.buttonNice button:hover::after {
  width: 220px;
}

#g,
#d {
  background: inherit;
  height: 0px;
  width: 5px;
  position: absolute;
  transition: 0.3s ease-in-out;
  transition-delay: 0.3s;
}
#g {
  bottom: -10px;
  left: -10px;
}
#d {
  top: -10px;
  right: -10px;
}
.buttonNice button:hover #g,
.buttonNice button:hover #d {
  height: 100px;
}


@media (max-width: 540px) {

  .buttonNice button {
    padding: 0px 10px;
    border: none;
    background: #EACD9A;
    font-size: 10px !important;
    color: #895832;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    height: 3rem;
    font-weight: bold;
  }

}