button {
    margin-top: .5rem;
    background-color: blanchedalmond;
    border: none;
    padding: .8rem;
    font-weight: bolder;
}


button:hover {
    transition: .3s;
    background-color: #EACD9A;
    color: white;
    border: none;
    padding: .8rem;
    font-weight: bolder;
}

.active {
    background-color: #EACD9A;
}


@media (max-width: 768px) {

    .btn-to-basket{
        padding: .4rem;
    }
  }