.product {
    position: relative;
}

.list-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-x:hidden;
    overflow-y:hidden;
}

.product img, .image-container {
    width: 20rem;
    border-radius: .5rem;
    overflow-x:hidden;
    overflow-y:hidden;
    /* filter: blur(5px); */
}

.product img:hover {
    width: 20rem;
    border-radius: .5rem;
    overflow-x:hidden;
    overflow-y:hidden;
    /* filter: blur(5px); */
}

.product p {
    color: #895832;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    height: 4rem;
    width: 4rem;
}

.hover-image {
    display: none;
    position: relative;
    z-index: 10;
    width: 20rem;
    border-radius: .5rem;
}

.image-container:hover .hover-image {
display: block;
transition: .3s;
}

.image-container:hover .main-image {
display: none;
transition: .3s;

}


/* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
@media only screen and (max-width: 768px) {
.list-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}