.list-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product img {
    width: 20rem;
}

.product p {
    color: #895832;
}


  /* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
  @media only screen and (max-width: 768px) {
    .list-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }