$color-white: white;
$color-black: black;

$color-gray_100: #ffffff;
$color-gray_125: #fafafa;
$color-gray_150: #f7f7f7;
$color-gray_200: #f2f2f2;
$color-gray_300: #e6e6e6;
$color-gray_400: #cccccc;
$color-gray_500: #999999;
$color-gray_550: #878787;
$color-gray_600: #666666;
$color-gray_700: #333333;
$color-gray_800: #000000;

$color-interaction: #EACD9A;
$color-primary:  rgba(137, 88, 50, 0.49);
$color-secondary: rgb(179, 255, 0);

$color-error: rgb(255, 57, 57);
$color-valid: rgb(179, 255, 0);

$breakpoint-desktop: 1120px;
$breakpoint-tablet: 720px;

$border_radius: 8px;

$font-family:'Inter Tight', sans-serif;
