.basket-window{
    height: 100vh;
    width: 100%;
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 9000000000;
}

.product-basket {
    background-color: bisque;
    padding: .02rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.product-basket span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    background-color: red;
    color: white;
    padding: .5rem;
    width: .2rem;
    height: .2rem;
    bottom: 2rem;
    right: 0rem;
    font-size: 10px;
}

.product-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 30px;
    height: 30px;
    padding: 1rem;
    border-radius: 100%;
    z-index: 900000;
    top: 5rem;
    right: 2rem;
}

.basket-window{
    height: 100vh;
    width: 40vw;
    top: 0px;
    right: 0px;
    background-color: brown;
    position: fixed;
    z-index: 90000;
}

.basket-window h2 {
    color: azure;
    padding: 2rem 0 5rem 2rem;
}

.item-product-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    padding: .5rem;
    margin: 1rem 0 1rem 2rem;
    width: 70%;
}

.price-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 2rem;
    width: 85%;
    position: fixed;
    bottom: 4rem;
    color: bisque;
    font-size: 30px;
    font-weight: bolder;
}

.products-scroll {
    max-height: 60vh; /* ou toute autre valeur appropriée */
    overflow-y: auto; /* afficher la barre de défilement verticale si nécessaire */
}



  /* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
  @media only screen and (max-width: 768px) {

    .product-basket{
        background-color: bisque;
        padding: 0rem;
        border-radius: 100%;
        z-index: 900000;
        bottom: 3rem;
        right: 1rem;
    }
    
    .basket-window{
        height: 100vh;
        width: 100%;
        top: 0px;
        right: 0px;
        background-color: brown;
        position: fixed;
        z-index: 900000000;
    }
    
    .basket-window h2 {
        color: azure;
        padding: 1rem;
    }

    .product-close{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;       
        background-color: bisque;
        padding: 1rem;
        border-radius: 100%;
        z-index: 900000;
        width: 30px;
        height: 30px;
        top: 1rem;
        right: 1rem;
    }

  }