/* Conteneur principal du slider */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.slider-controls{

  display: flex;
  align-items: center;
}
 

/* Ligne contenant les éléments à slider */
.slider-row {
  display: flex;
  scroll-behavior: smooth;
  gap: 10px; /* Espace entre les items */
  width: 130%;
}

/* Chaque box de produit */
.slider-box {
  min-width: 200px; /* La largeur minimum d'un produit */
  flex-shrink: 0; /* Pour éviter que les produits ne se réduisent */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Effet zoom au survol */
.slider-box:hover {
  transform: scale(1.05);
}

/* Style des boutons de navigation */
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row { 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 1rem; 
}

.box span{
  position: absolute;
  background-color: rgb(223, 218, 60);
  color: white;
  padding: .4rem;
  font-size: 10px;
}

.info-home-product span {
  position: absolute;
  background-color: blanchedalmond;
  color: black;
  padding: .4rem;
  margin-top: .2rem;
  font-size: 10px;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: .1rem;
  margin: 1rem;
  width: 80%;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px 1px 
  rgba(0, 0, 0, 0.1);
}
      
.box img {
  display: flex;
  justify-content: center;
  align-items: center; 
  width:100%; 
  border-radius: .5rem;
}  

.info-home-product{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-home-action-product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info-home-action-product button{
  padding: 2rem;
  border-radius: 0 0 1rem 0;
}

.container h2 {
  font-size: 50px;
  text-align: left;
  width: 90%;
  padding-left: 2rem;
}

@media (max-width: 940px) {
  .container h2{

    font-size: 32px;
    margin-top: 4rem;
    padding-left: 0rem;
    width: 100%;
  
  }

  h3 {
    font-size: 17px;
  }

  .row { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem;
    border-radius: 1rem;
    width: 100%;
    min-width: 200px;
  }
        
  .box img {
    display: flex;
    justify-content: center;
    align-items: center; 
    width:100%; 
    border-radius: .5rem;
  }

  .link-without-decoration {
    text-decoration: none;
    color: inherit; /* Pour conserver la couleur du texte par défaut */
    padding: 0;
    margin: 0;
  }

  .slider-row {
    display: flex;
    scroll-behavior: smooth;
    gap: 2px; /* Espace entre les items */
    width: 250%;
  }
  
}

@media (max-width: 968px) {

  .info-home-action-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container h2 {
    font-size: 32px;
    margin-top: 4rem;
    text-align: center;
}

  .info-home-product h3 {
    font-size: 12px;
  }

  .row { 
    display: flex; 
    justify-content: center;
    align-items: center; 
  }

  .box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem;
    border-radius: 1rem;
    margin: .5rem;
    width: 100%;
  }
        
  .box img {
    display: flex;
    justify-content: center;
    align-items: center; 
    width:100%; 
    border-radius: .5rem;
  }

  .link-without-decoration {
    text-decoration: none;
    color: inherit; /* Pour conserver la couleur du texte par défaut */
    padding: 0;
    margin: 0;
  }

  .info-home-action-product button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0 0 1rem 0;
}
  

}