.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-home{
    width: 100% !important;
}

.banner-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #EACD9A;
    margin-top: 15vh;
}

.img-home-banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    right: 0rem;
    margin: 0rem;
    padding: 0rem;
}

.img-home-banner img{
    width: 80%;
    right: 0rem;
    margin: 0rem;
    padding: 0rem;
}

.header-home video {
    position: absolute;
    z-index: -1000;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.header-home h1 {
    bottom: .8rem;
    box-shadow: #0000001a;
    color: #eacd9a;
    font-stretch: 100%;
    text-align: center;
    width: 100%;
}
/* styles/Logo.css */

header .logo-container { /* Le logo ne dépassera pas la largeur du conteneur parent */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
.logo-img {
    width: 4rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.container h2{
    text-align: left;
}

.container p{
    text-align: center;
}

h1{
    font-weight: bolder;
}

.background-img-header {
    display: flex;
    position: absolute;
    z-index: -1; /* Changer la valeur selon vos besoins */
    background-image: url('/public/present/header-background.jpg'); /* Chemin relatif ou absolu vers votre image */
    /* Autres styles */
}

video, .page-about{
    margin-top: 22vh;
}



@media only screen and (max-width: 1024px) {

    .header-home h1 {
        width: 100%;
        position: relative;
        bottom: 35.5rem;
        left: 0rem;
        color:#EACD9A;
        box-shadow: 
        rgba(0, 0, 0, 0.1);
        font-size: 54px;
        font-stretch: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 768px) {

    .header-home h1 {
        width: 100%;
        position: relative;
        bottom: 1.5rem;
        left: 0rem;
        color: #EACD9A;
        box-shadow: rgba(0, 0, 0, 0.1);
        font-size: 54px;
        font-stretch: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .img-home-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        right: 0rem;
        margin: 0rem;
        padding: 0rem;
    }

}

@media only screen and (max-width: 500px) {

    .header-home h1 {
        bottom: 1.8rem;
        box-shadow: #0000001a;
        color: #eacd9a;
        font-size: 34px;
        font-stretch: 100%;
        left: 0;
        margin-bottom: 2rem;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .banner-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
    }


    .logo-img {
        width: 5rem;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    video, .page-about{
        margin-top: 15vh;
    }

}

  