.burger-menu {
  width: 100%;
  height: 0vh;
  right: 0rem;
  color: #895832;
  box-shadow: #333;
  padding: 0rem;
}

.burger-menu a {
  color: #EACD9A;
  /* color: black; */
  font-weight: bolder;
  text-decoration: none;
}
  

.d-flex .connect{
  background-color: white !important;
  padding: .5rem 1rem;
  width: 14rem;
  border-radius: 2rem;
}

.burger-icon, .line{
  color: #895832;
}

.burger-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 24px;
}

.line {
  width: 24px;
  height: 2px;
  padding: 0rem;
  margin: .1rem;
  background-color: #895829;
}

.open .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.menu {
  position: fixed !important;
  z-index: 10000;
  top: 0;
  left: -400px; /* Initial hidden position */
  background-color:#ffffff;
  width: 0px;
  height: 100vh;
  transition: transform 0.3s ease;
  box-shadow: -1px 2px 5px 1px 
  rgba(0, 0, 0, 0.7);
}

.menu.open {
  transform: translateX(300px);
  left: -300px; 
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh; /* Move the menu to the right */
}

.menu.open ul li {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.menu.open ul li a {
  color: #895832;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .8rem;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}


.page-search{
  height: 100vh;
  width: 100vw;
  transform: translateY(-100vh);

}

.page-search.openSearch{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 800;
  transition: transform 0.3s ease;
  height: 100vh;
  width: 100%; 
  transition: all 0.3s ease 0s;
  transform: translateY(0vh);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 1),rgba(255, 255, 255, .8),rgba(255, 255, 255, .5), rgba(255, 255, 255, 0)) !important;
  backdrop-filter: blur(10px);

}

.result-search{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 100%;
  margin-top: 2rem;
}

.item-search {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  border-radius: .5rem;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.item-search img {
  width: 100px;
  height: 100px;
  padding-right: 1rem;
  border-radius: .5rem;
}

.form-search input{
  padding: 1rem;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.burger-li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: .6rem;
  height: 40px;
}

.burger-li:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  background-color:#aa946e;
}

.menu li {
  display: flex;
  padding-top: 1rem;
  justify-content: space-betweens;
  align-items: center;
}

hr{
  color: black;
  background-color: black;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


  /* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
  @media only screen and (max-width: 768px) {

    .result-search{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .item-search {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 250px;
      border-radius: .5rem;
      box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
      background-color: white;
      margin-bottom: .5rem;
    }

    .item-search img {
      width: 100px;
      height: 100px;
      padding-right: 1rem;
      border-radius: .5rem;
    }

    .item-search p {
      color: black;
      text-decoration: none;
    }

    .item-search a {
      color: black !important;
      text-decoration: none !important;
    }

  }