.burger-menu {
  position: fixed;
  z-index: 1000;
  height: 10vh;
  right: .6rem;
}

.icons-users{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 1rem;
}

.icons-users .burger-icon, .line{
  color: #EACD9A;
}

.burger-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.line {
  width: 24px;
  height: 2px;
  margin: .1rem;
  background-color: #EACD9A;
  transition: transform 0.3s ease;
}

.open .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.menu {
  position: fixed !important;
  z-index: 10000;
  top: 0;
  left: -200px; /* Initial hidden position */
  background-color:#EACD9A;
  width: 200px;
  height: 100vh;
  transition: transform 0.3s ease;
  box-shadow: -1px 2px 5px 1px 
  rgba(0, 0, 0, 0.7);
}

/* .search input{
  display: flex;
  justify-content: center;
  position: fixed !important;
  z-index: 10000;
  top: -200px;
  transition: transform 0.3s ease;
  width: 50%;
  margin: 1rem;
  padding: 2rem;
} */

/* .search input {
  box-shadow: -1px 2px 5px 1px 
  rgba(0, 0, 0, 0.7);
} */

.page-search{
  display: flex;
  justify-content: center;
  z-index: 8000;
  transition: transform 0.3s ease;
  height: 100vh;
  width: 100vw; 
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0)); 
  transition: all 0.3s ease 0s;
}

.menu.open {
  transform: translateX(200px);
  position: fixed;
  z-index: 10000;
  height: 100vh; /* Move the menu to the right */
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4rem;
}
.form-search input{
  padding: 2rem;
  background-color: #EACD9A;
}


/* .search.openSearch{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  position: fixed;
  z-index: 10000;
  left: 25%;
  width: 50%;
  margin: 1rem;
  padding: 2rem;
}

.result-search.openSearch{
  display: flex;
  justify-content: center !important;
  align-items: center;
  transform: translateY(800px);
  position: fixed;
  z-index: 10000;
  width: 60%;
  margin: 1rem;
  padding: 2rem;
} */

.page-search.openSearch{
  display: flex;
  justify-content: center !important;
  align-items: center;
  transform: translateY(-100vh);
  height: 100vh;
  width: 100vw;

}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


  /* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
  @media only screen and (max-width: 768px) {
    .first-area-footer, .second-area-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .icon-money{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .one-menu-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .newsletter, .menu-footer, .contact-footer {
      flex: 1;
    }
  }
