.burger-menu {
  position: fixed;
  height: 10vh;
  right: .6rem;
}

.icons-users{
  display: flex;
  justify-content: center;
}

.icons-users .burger-icon, .line{
  color: #EACD9A;
}

.burger-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.line {
  width: 24px;
  height: 2px;
  margin: .1rem;
  background-color: #EACD9A;
  transition: transform 0.3s ease;
}

.open .line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -3px);
}

.menu {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: -200px; /* Initial hidden position */
  background-color:#EACD9A;
  width: 200px;
  height: 100vh;
  transition: transform 0.3s ease;
}

.menu.open {
  transform: translateX(200px);
  position: fixed;
  z-index: 8000; /* Move the menu to the right */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


  /* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
  @media only screen and (max-width: 768px) {
    .first-area-footer, .second-area-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .icon-money{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .one-menu-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .newsletter, .menu-footer, .contact-footer {
      flex: 1;
    }
  }
