/* navbar.style.css */
nav{
  width: 100% !important;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
  position: fixed;
  z-index: 390;
  top: 14vh;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.navbar ul li {
  transition: .3s;
  margin-bottom: .2rem;
  border-bottom: .1rem solid  transparent;
}

.navbar ul li:hover {
  border-bottom: .1rem solid  #EACD9A;
  transition: .1s;
}

.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  position: absolute;
  z-index: 1000 !important;
  margin-top: 2.4rem;
  width: 100%;
  color: #895832;
  margin-left: 35.8rem;
  background-color: white;
}

.icon-nav{
  height: 24px;
  width: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100% !important;
  margin: 0;
  padding: 0;
  border-top: .01rem solid lightgray ;
  border-bottom: .01rem solid lightgray ;
}

.logo-container {
  background-color: white;
}

li {
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: #895832;
}

li:hover {
  color: #EACD9A;
}



.link-without-decoration {
  text-decoration: none;
  color: inherit; /* Pour conserver la couleur du texte par défaut */
  padding: 0;
  margin: 0;
}

/* Styles pour la navigation responsive */
@media screen and (max-width: 768px) {
  .navbar, .navbar .fixed {
    display: none;
  }

  li {
    display: flex;
    justify-content: center;
  }


}


@media only screen and (max-width: 468px) {

  .submenu {
    display: flex;
    flex-direction: column !important;
    /* justify-content: space-around; */
    align-items: flex-start;
    /* position: absolute; */
    /* z-index: 1000 !important; */
    /* margin-top: 2.4rem; */
    width: 100%;
    color: #895832;
    margin-left: 0rem;
    background-color: transparent;
  }

  .submenu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    margin-top: 2.4rem;
    width: 100%;
    color: #895832;
    margin-left: 0rem;
    background-color: white;
  }
}
