.footer{
    background-color: #895832;
    color: white;
    width: 100%;
}

.first-area-footer .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-area-footer .menu-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-footer{
    margin-bottom: 4rem;
}


.first-area-footer .menu-footer .one-menu-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


.contact-footer .contact-footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.contact-footer .contact-footer-icon span{
    margin-left: 2rem;
    margin-right: 2rem;
}

.second-area-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    width: 100%;
}
.second-area-footer p {
    text-align: center;
    color: black !important;
    font-size: 10px;
}


.second-area-footer .icon-money{
    display: flex;
    justify-content: flex-end;
    right: 2rem;
    width: 45%;
    color: black !important;
}

.second-area-footer .icon-money img {
    width: auto;
    height: 44px;
    margin-right: 1rem;
}

.newsletter{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.newsletters{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    width: 40%;
}

.newsletters input {
    margin-top: .5rem;
    background-color:white;
    border: none;
    padding: 1rem;
    font-weight: bolder;
    border-radius: 0rem;
    border: none;
    color: brown;
    width: 100%;
}


.newsletter input {
    width: 80%;
}

.one-menu-footer{
    width: 21rem;
}

.insta{
    width: 24px;
    height: 24px;
    border-radius: .8rem;
}

.link-without-decoration {
    text-decoration: none;
    color: inherit; /* Pour conserver la couleur du texte par défaut */
    padding: 0;
    margin: 0;
  }


  
  /* Utilisez Media Queries pour appliquer des styles différents en fonction de la largeur de l'écran */
  @media only screen and (max-width: 768px) {
    .first-area-footer, .second-area-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .second-area-footer .icon-money {
        display: flex;
        justify-content: center;
        right: 0rem;
        width: 100%;
    }

    .second-area-footer .icon-money img {
        width: auto;
        height: 2rem;
        margin: .5rem;
    }

    .second-area-footer p {
        color: black;
    }
    

    .icon-money{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .one-menu-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .newsletter, .menu-footer, .contact-footer {
      flex: 1;
    }

    .newsletters{
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
    }
  }
  
