body , *{
  font-family: 'Inter Tight', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body{
  margin: 0px !important;
}

h3 , .css-1nmqws6-MuiTypography-root {
  color: rgb(137, 88, 50);
}

.sidebar ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.box-shadow-white{

  position: relative;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  bottom: 0px;
}




