/* navbar.style.css */

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  
  .link-without-decoration {
    text-decoration: none;
    color: inherit; /* Pour conserver la couleur du texte par défaut */
    
  }
  
  /* Styles pour la navigation responsive */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    li {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
  }
  