.row { 
  display: flex; 
  justify-content: center;
  align-items: center;  
}

.button-up{
  position: absolute;
  z-index: 200;
}

.button-up button{
border-radius: .5rem;
}

.box1 {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  height: 30vh;
  justify-content: center;
  overflow: hidden;
  padding: 2rem;
  width: 80%;
}
      
.box1 img {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  border-radius: .5rem;
  transform: rotate(90deg); /* Fait pivoter l'image de 90 degrés */
 /* Réduit la luminosité de l'image */
 filter:blur(10px)
 
}

.box1 img:hover {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 120%;
  border-radius: .5rem;
  transform: rotate(90deg); /* Fait pivoter l'image de 90 degrés */
  /* Réduit la luminosité de l'image */
  filter:blur(20px);
  transition: 2s;
 
}

h2 {
  color: #45260D;
}


          

@media (max-width: 540px) {
  h2 {
    font-size: 24px;
    color: #45260D;
  }
  h3 {
    font-size: 17px;
  }
}